@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Joan & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden !important;
}

body * {
    box-sizing: border-box;
    
}



html{
    scroll-behavior: smooth;
}



header{
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15000px;
    background-color: rgba(255, 255, 255);
    transition: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.center{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    
    padding: 0 2%;

}

.logo{
    width: 10%;
}

.logo img{
    height: 110px;
    border-radius: 20px 0px 20px 0px;
    
}

.menu{
    margin-top: 50px;
    width: 90%;
    text-align: right;
}

.menu a{
    
    
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
    
}

.menu a:hover{
    color: #FF6316;
    transition: 500ms;
    
}



.menu label{
    max-height: 100vh !important;
    background-color: black;
    
}



.home{
    background-image: url(https://github.com/AlexandreSican/portfolioproject/blob/main/assets/reunion.png?raw=true);
    background-repeat: no-repeat;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    
}

.home img{
    height: 200px;
    width: 400px;
    margin: 50%;
    animation: inicio--animation 2s ease;
    
}



.galery{
    height: 100vh;
    padding-top: 5%;
    background-color: #FF6316;
    
}

.gallery-title > h1{
    text-align: center;
    font-family: 'Tangerine', cursive !important;
    font-size: 50px;
    border-bottom: 2px solid white;
    width: 100%;
    color: white;
    
    
    
}

.container-galeria{
    z-index: 990px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    padding: 30px;
    grid-gap: 20px;
}



.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.item-galeria{
    position: relative;
}

.item-galeria .title-galeria{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-family: 'Quicksand';
    
    
}

.whoweare{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #FF6316;
}

.business{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10%;
    margin: auto;
    
}

.business-logo{
    height: 30%;
    width: 100%;
    
    
}

.business-logo > img{
    width: 103%;
    
}

.business-description{
    height: 30%;
    width: 100%;
}


.business-description > p{
    font-size: 16pt;
    text-align: justify;
    font-family: 'Quicksand';
    font-weight: bold;
}

.business-description a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.employe{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0D084A;
}


.employe-top{
    height: 60%;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    
}

.top-img{
    height: 100%;
    width: 40%;
    
    padding: 25% 7%;
}

.top-img img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 0px 20px rgba(255,255,255,0.6);
    
}

.top-desc{
    height: 100%;
    width: 60%;
    
    padding: 25% 7%;
}

.lista-desc{
    height: 100%;
    width: 100%;
    padding: 10% 0%;
}

.lista-desc-top > li{
    font-size: 15pt;
    color: white;
    font-family: "Quicksand";
}

.lista-desc-top > li:first-child{
    font-size: 25pt !important;
    list-style-type: none;
    margin: 0px 0px 0px -20px;
    
    
}



.employe-bottom{
    height: 40%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.bottom-img{
    height: 100%;
    width: 30%;
    padding: 9% 0%;
}

.bottom-img img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 0px 20px rgba(255,255,255,0.6);
    
}

.bottom-desc{
    height: 100%;
    width: 60%;
    padding: 12% 0%;
    margin-left: 5%;
}

.lista-desc-bottom{
    height: 100%;
    width: 100%;
    
}

.lista-desc-bottom > li{
    font-size: 15pt;
    color: white;
    font-family: "Quicksand";
}

.lista-desc-bottom > li:first-child{
    font-size: 25pt !important;
    list-style-type: none;
    margin: 0px 0px 0px -20px;
    
    
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}

.section1{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    border-bottom: 3px solid black;
    background-color: #0D084A;
}

.section1-div1{
    background-image: url(https://github.com/AlexandreSican/portfolioproject/blob/main/assets/vision.png?raw=true);
    background-repeat: no-repeat;
    width: 50vw;
}

.section1-div2{
    width: 50vw;
    padding: 2%;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.section1-div2 > img{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10%;
}





.section2{
    width: 100vw;
    height: 100vh;
    background-color: #0D084A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    
}

.left > h1{
    color: white;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 3vw;
    
}

.left-img{
    width: 30vw;
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px ;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #2517bb;
    font-family: 'Noto Sans', sans-serif;
}

.card-form > h1{
    color: #0D084A;
    font-weight: bold;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30vw;
    margin: 15px 0px;
    font-family: 'Noto Sans', sans-serif;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(237, 237, 237);
    color: #0D084A;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #0D084A;
    margin-bottom: 10px;

}

.btn-send{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #0D084A;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.btn-send:hover{
    background-color: #2e2599;
    
}

:root{
    --azul-escuro: #0D084A;
    --laranja-vivo: #FF6316;
    --azul-escuro: #2517bb;
}


.confirmation{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-confirmation{
    width: 50%;
    height: 35%;
    background-color: #0D084A;
    border-radius: 15px;
    box-shadow: 0px 10px 40px #120b5d;
    flex-direction: column;
    text-align: center;
}

.main-confirmation > h1{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.main-confirmation > p{
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;;
}

.btn-red{
    width: 80%;
    height: 70px;
    padding: 16px 0px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: white;
    color: #120b5d;
    font-family: 'Noto Sans', sans-serif;
    
}

.btn-red:hover{
    background-color: #2e2599;
    color: white;
}



.loadingI{
    width: 40px;
    animation: rotator--animation 1s infinite linear;
}


.footer{
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.footer > h1{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
}
.footer a{
    color: gray;
    text-decoration: none;
}

@keyframes rotator--animation {
     from{
        transform: rotate(0deg);
     }
     to{
        transform: rotate(360deg);
     }
}
@keyframes inicio--animation {
    0%{
        opacity: 0.0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
        
    }

}

@media only screen and (max-width: 950px){
    .card-form{
        width: 85%;
    }
    .business{
        display: none;
    }
}

@media(max-width: 1600px){
    .business-description >p{
        font-size: 12pt;
    }
    
}

@media only screen and (max-width: 700px){
    .section2{
        flex-direction: column;
    }
    .left > h1{
        display: none;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .left-img{
        width: 50vw;
    }
    .card-form{
        width: 90%;
    }
    .textfield{
        width: 90%;
    }
    .section1-div1{
        display: none;
    }
    .center{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .center{
        display: none;
    }
}

@media(max-width: 768px){
    .galery{
        height: 100%;
    }
    .container-galeria{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 50vh;
    }
    .h-2{
        grid-row: span 1;
    }
    
    .w-2{
        grid-column: span 1;
    }
}


